<div class="wrap" style="padding-top: 0px">
  <div class="fleft" style="width: 40%; margin-top: 50px; padding-right: 50px; padding-left: 50px ">
     <h1 class="text-center" style="margin-bottom: 10px"></h1>
          <div class="panel panel-primary">
            <div class="panel-heading text-center">Profile</div>
            <div class="panel-body text-center">

              <p>first name: <%= current_user.profile.first_name %> </p>
              <p>last name: <%= current_user.profile.last_name %> </p>
              <p>gender: <%= current_user.profile.gender %> </p>
              <p>description: <%= current_user.profile.description %> </p>
              <% if current_user.profile.is_host %>
              <p>Type Account: <strong>Host</strong> </p>
              <% else %>
              <p>Type Account: <strong>Renter</strong> </p>
              <% end %>

              <p>Birth Date: <%= current_user.profile.birth_date %> </p>

              <br>

              <%= link_to "Edit", edit_profile_path, class: "btn btn-primary" %>
              <br>

            </div>


          </div>
          <div class="text-center">
            <%= link_to "Back", root_path, class: "btn btn-primary" %>
          </div>

  </div>
  <div class="fright" style="width: 60%;">

  <% if @bookings.nil? %>
        <h1 class="text-center" style="margin-bottom: 65px">No Bookings...</h1>
  <% else %>
        <h1 class="text-center">Your Listings</h1>
        <div class="text-center">
          <%= link_to new_listing_path do %>
            <i class="fa fa-plus fa-3x"></i>
          <% end %>
        </div>
        <% @listings.each do |listing| %>
          <div class="col-xs-12 col-sm-6 col-md-6">
             <%= link_to listing_bookings_path(listing) do %>
               <div style="margin-bottom: 65px"></div>
               <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path listing.photo, height: 300, width: 400, crop: :fill %>')">

                  <div class="card-category">
                     <%= listing.name %>
                  </div>

                  <div class="card-description">
                     <%= listing.location %>
                  </div>

                  <div class="card-user">
                    <p> <%= humanized_money_with_symbol(listing.price) %> </p>
                    <p> <%= listing.type_place %> </p>
                  </div>

               </div>
             <% end %>
          </div>
        <% end %>


<% end %>

  </div>
