<div class="wrap" style="padding-top: 0px">
  <div class="fleft" style="width: 40%; padding: 30px">
          <div class="panel panel-primary">
            <div class="panel-heading text-center">Profile</div>
            <div class="panel-body text-center">

              <p>first name: <%= current_user.profile.first_name %> </p>
              <p>last name: <%= current_user.profile.last_name %> </p>
              <p>gender: <%= current_user.profile.gender %> </p>

              <% if current_user.profile.is_host %>
              <p>Type Account: <strong>Host</strong> </p>
              <% else %>
              <p>Type Account: <strong>Renter</strong> </p>
              <% end %>

              <p>Birth Date: <%= current_user.profile.birth_date %> </p>

              <br>
              <%= link_to edit_profile_path do %>
              <i class="fa fa-pencil-square-o fa-3x"></i>
              <% end %>
              <br>

            </div>
          </div>
          <div class="text-center">
            <%= link_to root_path do %>
            <i class="fa fa-chevron-left fa-5x"></i>
            <% end %>
          </div>

  </div>
  <div class="fright" style="width: 60%;">
    <div class="text-center">

      <% if @bookings.nil? %>
        <h1>No Bookings...</h1>
      <% else %>
        <h1>Your Bookings</h1>
        <% @bookings.each do |booking| %>
          <div class="product">
            <%= link_to listing_path(booking.listing) do %>
             <%= cl_image_tag booking.listing.photo, class: "product-image hidden-xs" %>
            <% end %>

            <div class='product-body'>
              <h3><%= booking.listing.name %></h3>
              <p><%= booking.listing.description %></p>
              <p><%= booking.rent_cost_cents %></p>
            </div>
            <ul class="list-inline product-controls hidden-sm hidden-xs">
              <li><a href=""><i class="fa fa-plus" id="new-booking"></i></a></li>
              <li><a href=""><i class="fa fa-money" id="new-payment"></i></a></li>
              <li><a href=""><i class="fa fa-handshake-o" id="new-contract"></i></a></li>
            </ul>
          </div>
<!--
        <h1> <#%= @booking.id %> </h1>

        <p>Listing name: <#%= @booking.listing.name %> </p>
        <p>Host name: <#%= @booking.listing.profile.first_name %> <#%= @booking.listing.profile.last_name %> </p>
        <p>Status: <#%= @booking.status %> </p>
        <p>Start Date: <#%= @booking.start_date %> </p>
        <p>End Date: <#%= @booking.end_date %> </p>
        <p>Num guests: <#%= @booking.num_guests %> </p>
        <p>Minimum Stay: <#%= @booking.minimum_stay %> </p>
        <p>Cost (cents): <#%= @booking.rent_cost_cents %> </p>
 -->
        <% end %>
      <% end %>
    </div>
  </div>
</div>
