<div class="media">
  <div class="media-left">
     </div>
  <div class="container">
    <div class="row">
      <div class="media-body">
        <h4 class="media-heading">
          <%= conversation.originator.name %> <br>
          <small><b>Subject: </b><%= conversation.subject %></small><br>
          <small><b>Date: </b><%=  conversation.messages.last.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small>
        </h4>

        <!--  <%= truncate conversation.messages.last.body, length: 145 %> -->

        <div class="col-xs-12 col-sm-2 col-md-1">
          <%= link_to "View", conversation_path(conversation)  %>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-1">
          <%#= link_to mark_as_read_conversation_path(conversation), :method => :post do %>
          <%= link_to mark_as_read_path(conversation), :method => :post do %>
          Mark as Read
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-1">
          <%= link_to trash_conversation_path(conversation), :method => :post do %>
          Move to Trash
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
