<div id="date_picker">
<%= simple_form_for [@listing, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <h3>Price</h3>
  €<%= @listing.price %>
  <br>
  <%= f.submit "Create Booking", class: "btn btn-primary" %>
<% end %>
</div>
