 <% content_for(:title_tag) do %>
 Show Bookings
 <% end %>

 <div style="padding: 60px">

   <% if current_user.profile.is_host %>
   <div class="text-center">
     <%= link_to new_booking_path do %>
     <i class="fa fa-plus fa-4x"></i>
     <% end %>
   </div>
   <% end %>

   <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">

        <div class="container">
          <div class="row">
            <h1 class="text-center">Your Bookings</h1>
            <% @bookings.each do |booking| %>

            <div class="col-xs-12 col-sm-4">
              <%= link_to booking_path(booking) do %>
              <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path booking.listing.photo, height: 300, width: 400, crop: :fill %>')">

              </div>

              <div class="card-user", style="padding: 20px">
              <%= booking.listing.name %>
              </div>

              <div class="card-category">
                <strong>From:</strong> <%= booking.start_date %>
                <p></p>
                <strong>To:</strong> <%= booking.start_date %>
              </div>


              <div class="card-description-right", style="padding: 20px">
              <%= link_to listing_path(booking.listing) do %>
                <i class="fa fa-listing fa-3x"></i>
                <% end %>
              </div>
              <div class="card-description">
                <%= booking.num_guests %>
                <%= booking.minimum_stay %>
                <%= booking.rent_cost %>
              </div>
              <br>
              <% end %>
            </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

