<div class="wrap" style="padding-top: 0px">
    <div class="fleft">
      <div class="title">

          <h1 class="title-h1">Matchmaking home rental!</h1>
          <h2 class="title-h2">Find the right place and the right
            people to live with.</h2>


          <% if user_signed_in? %>
            <%= link_to "Get Started", listings_path, class: "btn btn-primary btn-lg banner-button"  %>

            <!-- <input type="submit" class="btn btn-primary btn-lg banner-button" value="Get Started"> -->
          <% else %>
            <%= link_to "Get Started", new_personality_path, class: "btn btn-primary btn-lg banner-button"  %>
          <% end %>

          <h3 class="title-h3"><%= link_to "See all <strong>132 listings</strong> available in Amsterdam "'<i class="fa fa-chevron-right"></i>'.html_safe , listings_path %> </i></h3>

      </div>
    </div>

    <div class="fright">
      <div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(60,60,80,0.6) 20%), url('<%= cl_image_path "room_if6zlj" %>');">
      </div>
    </div>
  </div>

<!--
<div class="banner" style=" background: url('<#%= cl_image_path "room_if6zlj" %>')">

    <div class="banner-content">

     <div class="container">
        <h1>Find A Home, Perfect For You</h1>
          <p>Habitat matches a home, made for you</p>

          <div class="row">
          <div class="col-xs-12">
             <form action="/listings" method="/get">
                <div class="form-search form-inline">
                  <select class="form-control" name="list_types", placeholder="Type of listing">
                  <option>Single Room</option>
                  <option>Entire Flat</option>
                  <option></option>
                  </select>
                  <select class="form-control" name="number_guests" placeholder="Guests">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6+</option>
                  <option></option>
                  </select>
                  <input type="date" placeholder="date" class="form-control" name="start_date">
                  <input type="date" placeholder="date" class="form-control" name="end_date">
                  <input type="text" placeholder="Location" class="form-control" name="location">
                  <input type="submit" value="Search" class="navbar-wagon-item navbar-wagon-button btn">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="wrapper-grey padded">
  <div class="container">
    <h2 class="text-center">Why Habitat?</h2>
      <div class="row">
        <div class="listing-cards col-xs-12 col-md-4">

        </div>
     </div>
    </div>
  </div>

<div class="container text-center padded">
  <div class="container">
    <h2 class="text-center">How It Works</h2>
      <div class="row">
        <div class="listing-cards col-xs-12 col-md-4">

        </div>
     </div>
    </div>
  </div>
-->




  <!-- Why Habitat? -->


      <div class="container container-bg">
        <div class="row row-marging">

          <h2 class="text-center marging-top">Why Habitat?</h2>
          <h3 class="text-center margin-bottom">We believe that finding a home in a cool city like Amsterdam should be more easy and human. <br>
          So we created Habitat, a matchmaking tool that connects owners with tenants.</h3>

            <div class="div-margin">

              <div class="col-md-4 col-sm-6 text-center cards-margin-right">
                <%= cl_image_tag "1491582855_icon_sets_school_outline_hand_drawn_iconfinder-21_nntdc6"%>
                <h3>Personality Test</h3>
                <p>Both owners and tenants have to make a personality test, so we can match people with similar mindsets.</p>
              </div>

              <div class="col-md-4 col-sm-6 text-center">
                <%= cl_image_tag "1491582880_icon_sets_school_outline_hand_drawn_iconfinder-08_vq8dc9"%>
                <h3>Information</h3>
                <p>Forget about that mess on Facebook groups. In Habitat, you have all the information necessary to find a place.</p>
              </div>

              <div class="col-md-4 col-sm-6 text-center">
                <%= cl_image_tag "1491582880_icon_sets_school_outline_hand_drawn_iconfinder-08_vq8dc9"%>
                <h3>All in one place</h3>
                <p>We will guide you throughout all renting process. From searching to meeting roommates and signing the contract.</p>
              </div>

              <br>

            </div>

        </div>
      </div>


<!-- Why Habitat? -->


<!-- Listings exemples -->


<div class="container">
        <div class="row row-marging">

          <h2 class="text-center marging-top">Avaliable listings</h2>
          <h3 class="text-center margin-bottom">132 listing available in Amsterdam</h3>

          <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">

      <div class="row">
       <div class="container">

          <% @listings.each do |listing| %>

          <div class="col-xs-12 col-sm-4">
            <%= link_to listing_path(listing) do %>
              <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path listing.photo, height: 300, width: 400, crop: :fill %>')">

                <div class="card-category">
                  <%= listing.name %>
                </div>

                <div class="card-description">
                  <%= listing.description %>
                </div>

                <% if current_user %>
                  <% if current_user.facebook_picture_url.nil? %>
                    <%= cl_image_tag 'user_gqomus', class: "card-user avatar avatar-large" %>
                  <% else %>
                    <%= image_tag current_user.profile.photo, class: "card-user avatar avatar-large" %>
                  <% end %>
                <% end %>
              </div>

              <% end %>

            </div>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>



        </div>
      </div>



























  <!-- <div class="container marging-top">
    <div>

        <div class="col-md-4 col-sm-6">
          <h2>Avaliable listings (132)</h2>
        </div>

        <div class="col-md-4 col-sm-6">
          <h3 class="pull-right">See all</h3>
        </div>
    </div>
  </div> -->

  <!-- <div class="container marging-top">
    <h2>Avaliable listings (132)</h2>
      <div class="row">
        <div class="listing-cards col-xs-12 col-md-4">

        </div>
      </div>
  </div> -->


<!-- Listings exemples -->





