<div class="wrap" style="padding-top: 0px">
  <div class="fleft", style="width: 56%">
    <div class="title_empty">
     <div>
       <div class="container", style="padding-left: -100px">
         <h1>Welcome!</h1>
       </div>
       <div class="container">
         <h2><strong>Let's get to know you better.</strong> <%= link_to "Why we do this test?", new_personality_path, class: "btn btn-primary", style: "font-size: 9px; border-radius: 20px" %></h2>
       </div>

       <div class="container">
         <div class="col-xs-6 col-sm-6 col-md-12">
           <% @questions.each do |question| %>
             <%= link_to :anchor => "wall" do %>
               <div class="col-xs-6 col-sm-6 col-md-1", style="margin-right: 25px; display:block">
                 <h6 id="persona-question-id-<%= question.id_alt %>", style="width: 100px">Question <%= question.id_alt %></h6>
                 <%= link_to "",  new_personality_path, class: "btn btn-primary", style: "heigth: 1px; border-radius: 30px; width: 100px" %>
               </div>
             <% end %>
           <% end %>
         </div>
       </div>

       <br>

       <div class="container">
         <div class="col-xs-6 col-sm-4 col-md-6">
           <div id="img-question-1">
             <%= cl_image_tag "party_nv0ts7", class: "personality_photo", id:"persona_img_1_q1"%>
             <%= cl_image_tag "john-sting-112628_urpf9v", class: "personality_photo", id:"persona_img_2_q1"%>
             <%= cl_image_tag "File1_txtgha", class: "personality_photo", id:"persona_img_3_q1" %>
             <%= cl_image_tag "File2_uxpdvw", class: "personality_photo", id:"persona_img_5_q1" %>
             <%= cl_image_tag "File4_lmvfil", class: "personality_photo", id:"persona_img_6_q1" %>
             <%= cl_image_tag "File3_azp3hb", class: "personality_photo", id:"persona_img_4_q1" %>
           </div>

           <div id="img-question-2" class="hidden">
             <%= cl_image_tag "File1_txtgha", class: "personality_photo", id:"persona_img_3_q2" %>
             <%= cl_image_tag "party_nv0ts7", class: "personality_photo", id:"persona_img_1_q2"%>
             <%= cl_image_tag "File3_azp3hb", class: "personality_photo", id:"persona_img_4_q2" %>
             <%= cl_image_tag "john-sting-112628_urpf9v", class: "personality_photo", id:"persona_img_2_q2"%>
             <%= cl_image_tag "File4_lmvfil", class: "personality_photo", id:"persona_img_6_q2" %>
             <%= cl_image_tag "File2_uxpdvw", class: "personality_photo", id:"persona_img_5_q2" %>
           </div>

           <div id="img-question-3" class="hidden">
             <%= cl_image_tag "john-sting-112628_urpf9v", class: "personality_photo", id:"persona_img_2_q3"%>
             <%= cl_image_tag "party_nv0ts7", class: "personality_photo", id:"persona_img_1_q3"%>
             <%= cl_image_tag "File1_txtgha", class: "personality_photo", id:"persona_img_3_q3" %>
             <%= cl_image_tag "File3_azp3hb", class: "personality_photo", id:"persona_img_4_q3" %>
             <%= cl_image_tag "File2_uxpdvw", class: "personality_photo", id:"persona_img_5_q3" %>
             <%= cl_image_tag "File4_lmvfil", class: "personality_photo", id:"persona_img_6_q3" %>
           </div>
         </div>
       </div>
       <br>
         <div class="btn btn-primary hidden pull-right", id="button-next">
         Next
         </div>
             <div class="btn btn-primary hidden pull-right", id="button-done">
         Done
         </div>
          <%#= link_to "Done", new_personality_path, class: "btn btn-primary hidden pull-right", id:"button-done" %>
     </div>

   </div>
 </div>

 <div class="fright", style="width: 44%">
  <div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(60,60,80,0.6) 20%), url('<%= cl_image_path "room_if6zlj" %>');">
  </div>
</div>
</div>
